.hero {
    width: 100%;
    padding: 200px 0;
    background-color: #1C1E53;

    @media (max-width: 992px) {
        padding: 120px 0 60px 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        @media (max-width: 992px) {
            gap: 30px;
            flex-direction: column-reverse;
        }
    }

    &__title {
        color: #fff;
        margin: 0 0 10px 0;
        line-height: 140%;
    }

    &__description {
        color: #fff;
    }

    &__buttons {
        margin: 40px 0 0 0;
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__image {
        width: 100%;
        max-width: 600px;

        @media (max-width: 1200px) {
            max-width: 500px;
        }
    }

}