.cards {
    width: 100%;
    padding: 128px 0;
    background-color: #F4F6FC;

    @media (max-width: 992px) {
        padding: 60px 0;
    }

    &--blue {
        padding: 0;
        margin: 128px 0;
        background-color: #fff;

        @media (max-width: 992px) {
            padding: 0;
            margin: 60px 0;
        }

        .cards__item {
            background-color: #EEF4FA;
        }
    }

    &__label {
        color: #282938;
        font-size: 16px;
        text-align: center;
        display: block;
    }

    &__title {
        max-width: 640px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    &__items {
        margin: 50px 0 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 32px;

        @media (max-width: 992px) {
            margin: 30px 0 0 0;
            gap: 24px;
            grid-template-columns: 1fr;
        }
    }


    &__item {
        background-color: #fff;
        padding: 48px 30px 48px 48px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-icon {
            display: block;
            margin: 0 0 15px 0;
            width: max-content;
            width: 32px;
            height: 32px;
            object-fit: contain;
        }

        @media (max-width: 576px) {
            padding: 30px 20px;
        }
    }
}