.how {
    width: 100%;
    background-color: #F4F6FC;
    padding: 130px 0;

    @media (max-width: 992px) {
        padding: 60px 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: flex-start;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__text {
        min-width: 405px;
        max-width: 405px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        position: sticky;
        top: 90px;

        @media (max-width: 768px) {
            position: static;
            max-width: 100%;
            min-width: 100%;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 25px;

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-icon {
            width: 50px;
            height: 50px;
            min-width: 50px;
        }

        &-title {
            color: #282938;
            font-size: clamp(20px, 5vw, 32px);
            font-weight: 500;
            margin: 8px 0 0 0;
        }
    }
    
    .button {
        @media (max-width: 576px) {
            width: fit-content;
        }
    }
}