.post {
    max-width: 950px;
    margin: 0 auto;
    padding: 200px 15px 60px 15px;

    @media (max-width: 992px) {
        padding: 120px 15px 40px 15px;
    }

    &__image {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__meta {
        font-size: 14px;
        color: #777;
        margin-bottom: 40px;
    }

    &__content {
        line-height: 1.7;

        p {
            margin-bottom: 24px;
        }
    }
}