.blog {
    padding: 200px 0 60px 0;

    @media (max-width: 992px) {
        padding: 120px 0 40px 0;
    }

    &__title {
        text-align: center;
        margin: 80px 0 40px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}

.featured {
    max-width: 1100px;
    margin: 0 auto 80px;
    text-align: center;

    &__image-link {
        display: block;
        border-radius: 12px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        display: block;
        transition: transform 0.3s ease;
        margin: 20px 0 0 0;
    }

    &__image-link:hover &__image {
        transform: scale(1.03);
    }

    &__meta {
        font-size: 14px;
        color: #777;
        margin-bottom: 16px;
    }

    &__excerpt {
        max-width: 700px;
        margin: 0 auto 24px;
    }

    &__content {
        margin: 20px 0 0 0;
    }

    &__title {
        max-width: 950px;
        margin: 0 auto;

        a {
            color: inherit;
            text-decoration: none;
            transition-duration: .5s;

            &:hover {
                opacity: .5;
            }
        }
    }

    &__link {
        font-weight: 600;
        text-decoration: none;
        color: #282938;
        transition-duration: .5s;

        &:hover {
            opacity: 0.5;
        }
    }
}

.blog-card {
    &__image-link {
        display: block;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 16px;
    }

    &__image {
        width: 100%;
        display: block;
        transition: transform 0.3s ease;
    }

    &__image-link:hover &__image {
        transform: scale(1.04);
    }

    &__date {
        font-size: 12px;
        color: #888;
    }

    &__title {
        margin: 8px 0 12px;

        a {
            color: inherit;
            text-decoration: none;
            transition-duration: .5s;

            &:hover {
                opacity: .5;
            }
        }
    }

    &__excerpt {
        font-size: 14px;
        margin-bottom: 16px;
    }

    &__link {
        font-weight: 600;
        text-decoration: none;
        color: #282938;
        transition-duration: .5s;

        &:hover {
            opacity: 0.5;
        }
    }
}


@media (max-width: 1024px) {
    .blog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .blog__grid {
        grid-template-columns: 1fr;
    }
}