.projects {
    width: 100%;
    margin: 128px 0;

    @media (max-width: 992px) {
        margin: 60px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 64px 0;

        @media (max-width: 992px) {
            margin: 0 0 30px 0;
        }
    }

    &__items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }

    &__item {
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            .projects__item-info {
                left: 0;
            }
        }

        &-info {
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #1c1e53, rgba(28, 30, 83, 0.42));
            transition-duration: .5s;
        }

        &-big {
            grid-column: span 2;
            grid-row: span 2;

            @media (max-width: 992px) {
                grid-column: span 1;
            }
        }
    }
}