.projects {
    width: 100%;
    margin: 128px 0;

    @media (max-width: 992px) {
        margin: 60px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 64px 0;

        @media (max-width: 992px) {
            margin: 0 0 30px 0;
        }

        @media (max-width: 450px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__link {
        color: #282938;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 16px;
        transition-duration: .5s;

        &:hover {
            gap: 20px;
        }
    }

    &__items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }

    &__item {
        overflow: hidden;
        position: relative;

        &-link {
            display: flex;
            align-items: center;
            gap: 16px;
            color: #fcd980;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .projects__icon {
            width: 24px;
        }

        &:hover {
            .projects__item-info {
                left: 0;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
            padding: 50px 40px;
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #1c1e53, rgba(28, 30, 83, 0.42));
            transition-duration: .5s;

            &-title {
                color: #fff;
                font-size: 24px;
                font-weight: 600;
            }

            &-subtitle {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
            }
        }

        &-big {
            grid-column: span 2;
            grid-row: span 2;

            @media (max-width: 992px) {
                grid-column: span 1;
                grid-row: span 1;
            }

            .projects__item-info {
                max-width: 396px;
            }
        }
    }
}