.footer {
    width: 100%;
    background-color: #1C1E53;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__info {
        padding: 104px 0 0 0;
        display: flex;
        align-items: flex-start;
        gap: 140px;

        @media (max-width: 1200px) {
            gap: 70px;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 30px;
            padding: 50px 0;
        }
    }

    &__col {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 517px;

        @media (max-width: 992px) {
            max-width: 100%;
        }

        &.footer__description {
            max-width: 400px;

            @media (max-width: 992px) {
                max-width: 100%;
            }
        }

        p {
            color: #F4F6FC;
        }

        h2,
        a {
            text-decoration: none;
            color: #fff;
        }

        h2 {
            margin: 0 0 16px 0;
        }
    }

    &__logo {
        width: 160px;
        height: auto;
        margin: 0 0 24px 0;
    }

    &__contacts {
        margin: 85px 0 0 0;
        background-color: #FCD980;
        color: #282938;
        padding: 17px 37px;
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width: 992px) {
            margin: 20px 0 0 0;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
        }

        div {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            font-weight: 500;
        }

        a {
            color: #1C1E53;
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__socials {
        display: flex;
        gap: 25px;
        align-items: center;
        margin: 28px 0 0 0;

        a {
            transition-duration: .5s;

            &:hover {
                opacity: .5;
            }
        }
    }

    .mw-400 {
        max-width: 400px;

        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &__links {
        width: 100%;
        background-color: #fff;
        padding: 32px 0;

        .footer__container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            @media (max-width: 992px) {
                align-items: flex-start;
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
            }
        }

        p {
            text-wrap: nowrap;
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 475px;

        @media (max-width: 992px) {
            justify-content: flex-start;
            gap: 15px 30px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }

        a {
            color: #282938;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            width: fit-content;
            position: relative;
            text-decoration: none;

            &::after {
                content: '';
                width: 0;
                height: 1px;
                background-color: #282938;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                transition-duration: .5s;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &.active {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}