.process {
    width: 100%;
    margin: 60px 0;

    @media (max-width: 992px) {
        margin: 40px 0;
    }

    h2 {
        text-align: center;
        margin: 0 0 40px 0;
        display: block;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 54px 0 0 0;
        position: relative;

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            display: block;
            border-radius: 50%;
            background-color: #2405F2;
            position: absolute;
            left: 0;
            top: 0;
        }

        &::after {
            content: '';
            width: calc(100% - 48px);
            display: block;
            height: 1px;
            border-top: 2px dashed #2505f242;
            position: absolute;
            right: 0;
            top: 12px;
        }
    }

    &__title {
        color: #282938;
        font-size: clamp(18px, 5vw, 24px);
        font-weight: 500;
    }

    &__text {
        color: #28293878;
        font-size: 16px;
    }
}