.content {
    width: 100%;
    margin: 60px 0;
    padding: 128px 0;
    background-color: #EEF4FA;

    @media (max-width: 992px) {
        margin: 40px 0;
        padding: 60px 0;
    }

    .content__container {
        display: flex;
        flex-direction: column;
        gap: 90px;

        @media (max-width: 768px) {
            gap: 30px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        @media (max-width: 1100px) {
            gap: 30px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__col {
        max-width: 623px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &__image {
        max-width: 515px;
        width: 100%;

        @media (max-width: 992px) {
            max-width: 400px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}