.team {
    width: 100%;
    margin: 40px 0 0 0;
    padding: 128px 0;
    background-color: #F4F6FC;

    h2 {
        text-align: center;
        margin: 0 0 48px 0;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 0;

        &:hover {
            .team__image-links {
                top: 0;
            }
        }

        &-name {
            color: #1d2130;
            font-size: clamp(18px, 5vw, 24px);
            text-align: center;
        }

        &-position {
            color: #28293878;
            font-size: 16px;
            text-align: center;
        }
    }

    &__image {
        width: 168px;
        height: 168px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 0 0 30px 0;

        &-links {
            background: linear-gradient(to right, #5239fa7a 0%, transparent 100%);
            transition-duration: .5s;
            width: 168px;
            height: 168px;
            position: absolute;
            top: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 20px;
            padding: 0 0 20px 0;

            @media (max-width: 992px) {
                top: 0;
            }

            a {
                transform: scale(1.2);
            }
        }
    }
}