.who {
    width: 100%;
    margin: 60px 0;

    @media (max-width: 992px) {
        margin: 40px 0;
    }

    h2 {
        color: #282938;
        font-size: clamp(22px, 5vw, 33px);
        display: block;
        margin: 0 0 16px 0;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #F4F5F5;
        padding: 80px;

        @media (max-width: 1200px) {
            padding: 30px;
        }

        @media (max-width: 576px) {
            padding: 15px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;

        @media (max-width: 1200px) {
            gap: 30px;
        }

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }



    &__image {
        width: 100%;
    }
}