.single-work {
    padding: 200px 0 60px 0;

    @media (max-width: 992px) {
        padding: 120px 0 40px 0;
    }

    &__container {
        max-width: 900px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__description {
        margin-bottom: 40px;
        color: #666;
    }

    &__image {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 48px;
    }

    &__content {
        line-height: 1.7;

        p {
            margin-bottom: 24px;
        }
    }
}