* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}

[class*='__container'] {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

.button {
    cursor: pointer;
    transition-duration: .5s;

    &:hover {
        opacity: .5;
    }

    &--yellow {
        background-color: #FCD980;
        border-radius: 40px;
        color: #1B1C2B;
        padding: 12px 56px;
    }

    &--black {
        background-color: #282938;
        border-radius: 40px;
        color: #F4F6FC;
        padding: 12px 56px;
    }

    &--arrow {}
}