* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #282938;
    background-color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}

[class*='__container'] {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

h1 {
    font-size: clamp(34px, 5vw, 54px);
    font-weight: 600;
}

h2 {
    font-size: clamp(28px, 4vw, 48px);
    color: #282938;
    line-height: 130%;
}

h2.mini {
    font-size: clamp(28px, 3vw, 38px);
}

textarea {
    resize: none;
}

[class*='__label'] {
    color: #282938;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 28px;
}


.button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    transition-duration: .5s;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 18px;
    text-wrap: nowrap;

    @media (max-width: 576px) {
        width: 100%;
    }

    &:hover {
        opacity: .5;
    }

    &--yellow {
        background-color: #FCD980;
        border-radius: 40px;
        color: #1B1C2B;
        padding: 12px 56px;
    }

    &--black {
        background-color: #282938;
        border-radius: 40px;
        color: #F4F6FC;
        padding: 12px 56px;
    }

    &--arrow {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        &:hover {
            gap: 10px;
        }
    }

    &--violet {
        color: #2405F2;
    }
}